# Your bot's token from the Discord Developer Portal.
DISCORD_TOKEN=""

# Your database's connection URL. Example: postgres://[username]:[password]@[server]:[port]/[db name]
DATABASE_URL=""
# Path to store file-based media.
MEDIA_PATH=""

# Discord Guild ID for startup logs and report logs.
DEVELOPER_GUILD_ID=""
# Discord Role ID for `/dev` group commands.
DEVELOPER_ROLE_ID=""
# Discord Channel ID for startup logs.
DEVELOPER_LOG_CHANNEL=""

# Discord Role ID for Global Egg Moderators.
MOD_ROLE_ID=""
# Discord Channel ID for report logs.
REPORT_CHANNEL=""

# "Supporter" User Subscription ID (optional).
USER_SUPPORTER_SKU_ID=""

# Arachnid Shield API credentials (optional, but if not specified, the CSAM scans will be skipped).
ARACHNID_USER=""
ARACHNID_PASSWORD=""